* {
  font-family: 'Roboto' 'sans-serif';
}

* {
  font-family: roboto;
}

nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #222222;
  z-index: 1000;
}

.hamburger {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style: none;
}

.menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

.menu_item {
  border-right: 2px black dotted;
  padding-right: 28px;
}

.menu_item:last-child {
  border-right: none;
}

.subheader {
  position: absolute;
  margin-top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader_official {
  margin-top: 6px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  opacity: 0.5;
}

.subheader_phone {
  display: block;
  margin-top: 8px;
  font-size: 22px;
  color: #ffffff;
  font-weight: 400;
  text-align: right;
  text-transform: uppercase;
  line-height: 12px;
}

.subheader_call {
  text-align: right;
  color: #ffffff;
  font-size: 12px;
  margin-top: 19px;
  font-weight: 300;
}

.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#93c0e5), to(#93c0e5));
  background-image: linear-gradient(to top, #93c0e5 0%, #93c0e5 100%);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 4px;
}

.subheader_btn:hover {
  background-image: none;
  background-color: #93c0e5;
}

.promo {
  min-height: 800px;
  background: url(../img/bg/main_bg.jpg) center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo_header {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 60px;
  margin: 0;
  text-align: center;
}

.promo_subheader {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}

.promo_descr {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}

.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#93c0e5), to(#4ce2ff));
  background-image: linear-gradient(to top, #93c0e5 0%, #4ce2ff 100%);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 4px;
}

.promo_btn:hover {
  background-image: none;
  background-color: #93c0e5;
}

.reasons {
  min-height: 900px;
}

.reasons_items {
  position: relative;
  top: 50px;
}

.reasons_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

.reasons_blue_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  width: 113px;
  height: 113px;
  background: #93c0e5;
  border-radius: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.reasons_blue_circle:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.reasons_blue_circle_icon {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.reasons_text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 10px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reasons_blue_text {
  font-weight: 400;
  font-size: 17px;
  color: #93c0e5;
  position: relative;
}

.reasons_simple_text {
  font-size: 15px;
  position: relative;
}

.label {
  background: black;
  color: white;
  width: 112px;
  height: 24px;
  margin: 50px auto 0 auto;
  top: 71px;
  font-size: 10px;
  text-align: center;
  padding: 4px 0 0 0;
  text-transform: uppercase;
  font-weight: 300;
}

.title {
  margin: 20px auto 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 700;
}

.simple_text_mobile {
  position: relative;
  text-align: center;
  top: 158px;
  font-size: 12px;
}

.cards_section {
  position: relative;
  top: 200px;
}

.img-card {
  width: 320px;
  height: 280px;
  position: relative;
  padding: 10px;
}

.img-card h3 {
  color: white;
  position: relative;
  bottom: 180px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
}

.cards_wrapping {
  margin-bottom: 20px;
}

.subtitle {
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url(../img/bg/main_bg_mobile.png) center center/cover no-repeat;
}

.mobile .row {
  margin-top: 32px;
}

.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}

.mobile_item_1 {
  background: url(../img/images/Mobileplatform1.jpg) center center/cover no-repeat;
}

.mobile_item_2 {
  background: url(../img/images/Mobileplatform2.jpg) center center/cover no-repeat;
}

.mobile_item_3 {
  background: url(../img/images/Mobileplatform3.jpg) center center/cover no-repeat;
}

.mobile_item_4 {
  background: url(../img/images/Mobileplatform4.jpg) center center/cover no-repeat;
}

.mobile_item_5 {
  background: url(../img/images/Mobileplatform5.jpg) center center/cover no-repeat;
}

.mobile_item_6 {
  background: url(../img/images/Mobileplatform6.jpg) center center/cover no-repeat;
}

.mobile_item_subtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 26px;
  height: 26px;
  margin: 0 auto;
  border-radius: 100%;
  background-color: #000000;
  padding: 6px;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

.mobile_item_plus:before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #93c0e5;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.mobile_item_plus:after {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: '';
  display: block;
  width: 2px;
  height: 14px;
  background-color: #93c0e5;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #ac5784;
}

.carchoice {
  height: 500px;
  background-color: #000000;
  margin-bottom: 400px;
  padding: 58px 0 0 0;
  position: relative;
}

.carchoice_label {
  display: block;
  color: black;
  background: white;
  width: 112px;
  height: 24px;
  margin: 0 auto 0 auto;
  text-align: center;
  font-size: 8px;
  text-transform: uppercase;
  padding: 8px 0 0 0;
  font-weight: 300;
}

.carchoice_title {
  margin-top: 32px;
  color: white;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.carchoice_subtitle {
  margin-top: 19px;
  color: white;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
}

.carchoice_blue_half_circle_img {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  position: absolute;
  top: 233px;
  width: 583px;
  height: 267px;
  z-index: 1;
}

.carchoice_blue_half_circle_text {
  font-size: 32px;
  color: white;
  font-weight: 400;
  position: relative;
  top: 65px;
  text-align: center;
  z-index: 3;
}

.carchoice_blue_half_circle_subtext {
  font-size: 11px;
  position: relative;
  text-align: center;
  top: 65px;
  z-index: 3;
}

.carchoice_bottom_text {
  display: block;
  margin-top: 500px;
  text-align: center;
}

.carchoice_car {
  position: absolute;
  z-index: 2;
  width: 759px;
  top: 365px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.require {
  padding: 0px 0 94px 0;
}

.require_block {
  margin: 33px 0;
}

.require_block_nmb {
  margin-bottom: 0px;
}

.require_title {
  font-size: 22px;
  font-weight: 400;
  color: #1ca8c3;
}

.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}

.require_list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}

.require_list li::before {
  -webkit-transform: translate(-5px, -2px);
          transform: translate(-5px, -2px);
  content: '';
  display: block;
  position: absolute;
  vertical-align: middle;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../icons/check_blue.png") center center/cover no-repeat;
}

.require_descr {
  color: #1ca8c3;
  margin-top: 25px;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}

.require .warning .require_title {
  color: #ac5784;
}

.require .warning .require_list li::before {
  background: url("../icons/check_red.png") center center/cover no-repeat;
}

.cityes {
  position: relative;
  height: 717px;
  background: url("../img/bg/cityes_bg.jpg") center center/cover no-repeat;
  padding: 49px 0 49px 0;
}

.cityes_label {
  margin: 0 auto;
  display: block;
  color: black;
  background: white;
  width: 112px;
  height: 24px;
  text-align: center;
  font-size: 8px;
  text-transform: uppercase;
  padding: 8px 0 0 0;
  font-weight: 400;
}

.cityes_title {
  color: white;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 32px;
}

.cityes_subtitle {
  font-size: 17px;
  color: white;
  margin-top: 20px;
  text-align: center;
}

.cityes_all_cityes {
  margin-top: 420px;
  text-align: center;
  text-transform: uppercase;
}

.cityes_all_cityes a {
  color: #93c0e5;
  font-size: 15px;
}

.footer {
  position: relative;
  height: 148px;
  padding: 14px 25px 0px 25px;
}

.blue_line {
  position: absolute;
  width: 300px;
  height: 4px;
  background-color: #93c0e5;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer_list_menu {
  padding: 0;
  position: absolute;
  top: 34px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.footer_list_menu li {
  text-decoration: none;
  margin: 24px;
}

.footer_list_menu li a {
  color: #000000;
}

.footer_list_menu li a:hover {
  text-decoration: none;
}

.footer_list_submenu {
  position: absolute;
  top: 75px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  list-style-type: none;
  text-transform: uppercase;
  padding: 0;
  font-size: 8px;
}

.footer_list_submenu li {
  display: inline-block;
  text-decoration: none;
  margin: 11px;
}

.footer_list_submenu li a {
  color: #000000;
}

.footer_list_submenu li a:hover {
  text-decoration: none;
}

.black_line_footer {
  width: 100%;
  height: 8px;
  background-color: black;
}

.icons_footer_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50px;
  margin-left: 22px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon_logo_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2px;
  width: 33px;
  height: 33px;
  background-color: #050511;
  border-radius: 50%;
  padding: 9px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon_logo_left i {
  color: white;
  position: relative;
  height: 100%;
}

.icons_footer_rigth {
  position: absolute;
  display: inline-block;
  margin: 2px;
  top: 50px;
  right: 21px;
}

.icon_logo_rigth {
  display: inline-block;
  margin: 3px;
  width: 94px;
  height: 26px;
  padding: 9px;
}

.footer_lang {
  display: block;
  margin: 0 auto;
  color: #93c0e5;
  font-size: 11px;
  font-weight: 400;
  margin-top: 100px;
  text-transform: uppercase;
  text-align: center;
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 13px;
  }
  .promo_header {
    font-size: 50px;
  }
  .mobile_item {
    padding-top: 60px;
  }
  .mobile_item_subtitle {
    font-size: 18px;
  }
  .mobile_item_1 {
    width: 300px;
    height: 258px;
  }
  .mobile_item_2 {
    width: 300px;
    height: 258px;
  }
  .mobile_item_3 {
    width: 300px;
    height: 258px;
  }
  .mobile_item_4 {
    width: 300px;
    height: 258px;
  }
  .mobile_item_5 {
    width: 300px;
    height: 258px;
  }
  .mobile_item_6 {
    width: 300px;
    height: 258px;
  }
}

@media (max-width: 991px) {
  .menu_item {
    padding-right: 8px;
  }
  .menu_link {
    font-size: 10px;
  }
  .subheader_logo img {
    width: 100%;
  }
  .subheader_official {
    font-size: 11px;
  }
  .subheader_phone {
    font-size: 18px;
  }
  .subheader_btn {
    margin-top: 21px;
    width: 100%;
    height: 40px;
  }
  .promo_header {
    font-size: 40px;
  }
  .promo_subheader {
    font-size: 30px;
  }
  .reasons_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reasons_blue_circle {
    margin-right: 0;
  }
  .reasons_blue_circle_icon {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .mobile_item {
    padding-top: 60px;
  }
  .mobile_item_subtitle {
    font-size: 18px;
  }
  .mobile_item_1 {
    width: 230px;
    height: 198px;
  }
  .mobile_item_2 {
    width: 230px;
    height: 198px;
  }
  .mobile_item_3 {
    width: 230px;
    height: 198px;
  }
  .mobile_item_4 {
    width: 230px;
    height: 198px;
  }
  .mobile_item_5 {
    width: 230px;
    height: 198px;
  }
  .mobile_item_6 {
    width: 230px;
    height: 198px;
  }
  .carchoice_car {
    top: 300px;
  }
  .carchoice_car carchoice_img_png {
    width: 300px;
  }
  .cityes {
    height: 529px;
  }
  .cityes_all_cityes {
    margin-top: 260px;
  }
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: .6s all;
    transition: .6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: 0;
    margin: 10px 0;
  }
  .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    -webkit-transition: .5s all;
    transition: .5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
  .subheader_phone {
    display: block;
    margin-top: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  .subheader_btn {
    display: block;
    height: 40px;
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .subheader .promo_header {
    line-height: 45px;
  }
  .subheader .promo_subheader {
    font-size: 30px;
  }
  .mobile_item_subtitle {
    font-size: 18px;
  }
  .mobile_item_1 {
    width: 260px;
    height: 223px;
  }
  .mobile_item_2 {
    width: 260px;
    height: 223px;
  }
  .mobile_item_3 {
    width: 260px;
    height: 223px;
  }
  .mobile_item_4 {
    width: 260px;
    height: 223px;
  }
  .mobile_item_5 {
    width: 260px;
    height: 223px;
  }
  .mobile_item_6 {
    width: 260px;
    height: 223px;
  }
  .require_title {
    font-size: 18px;
    padding-left: 20px;
  }
  .carchoice {
    padding-top: 40px;
    height: 350px;
    margin-bottom: 200px;
  }
  .carchoice_bottom_text {
    margin-top: 247px;
  }
  .carchoice_blue_half_circle {
    width: 400px;
  }
  .carchoice_img_png {
    width: 300px;
    position: absolute;
    top: -100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .carchoice_blue_half_circle_img {
    top: 150px;
    width: 400px;
    height: 200px;
  }
  .carchoice_blue_half_circle_text {
    top: 95px;
  }
  .carchoice_blue_half_circle_subtext {
    top: 100px;
  }
  .cityes {
    height: 382px;
  }
  .cityes_all_cityes {
    margin-top: 130px;
  }
}

@media (max-width: 575px) {
  nav {
    height: 30px;
  }
  .label {
    margin-top: 22px;
  }
  .subheader {
    margin-top: 30px;
    height: 60px;
  }
  .subheader_official {
    display: none;
  }
  .subheader_logo {
    margin-top: 16px;
  }
  .subheader_phone {
    margin-top: 11px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .subheader_btn {
    margin-top: 6px;
    width: 110px;
    height: 22px;
    font-size: 10px;
  }
  .promo {
    min-height: 400px;
    padding: 123px 0 35px 0;
  }
  .promo_descr {
    display: none;
  }
  .promo_header {
    font-size: 30px;
    padding: 0 24px;
    line-height: 35px;
  }
  .promo_subheader {
    font-size: 20px;
    margin-top: 33px;
    padding: 0 10px;
    line-height: 30px;
  }
  .promo_btn {
    width: 210px;
    height: 50px;
    margin-top: 72px;
    font-size: 16px;
  }
  .promo_btn_hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#93c0e5), to(#4ce2ff));
    background-image: linear-gradient(to top, #93c0e5 0%, #4ce2ff 100%);
  }
  .menu {
    width: 85%;
  }
  .menu_item {
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
  .menu_link {
    display: block;
  }
  .reasons {
    padding: 0px 0 36px 0;
  }
  .reasons_item {
    margin-top: 26px;
  }
  .reasons_blue_circle {
    width: 100px;
    height: 100px;
  }
  .reasons_text {
    width: 100%;
    margin-top: 27px;
  }
  .reasons_blue_text {
    font-size: 16px;
  }
  .title {
    font-size: 16px;
    margin-top: 15px;
    line-height: 16px;
  }
  .mobile {
    padding: 48px 0 48px 0;
  }
  .mobile_item_subtitle {
    font-size: 18px;
  }
  .mobile_item_1 {
    width: 290px;
    height: 254px;
  }
  .mobile_item_2 {
    width: 290px;
    height: 254px;
  }
  .mobile_item_3 {
    width: 290px;
    height: 254px;
  }
  .mobile_item_4 {
    width: 290px;
    height: 254px;
  }
  .mobile_item_5 {
    width: 290px;
    height: 254px;
  }
  .mobile_item_6 {
    width: 290px;
    height: 254px;
  }
  .require {
    padding: 22px 15px 26px 15px;
    margin-top: 40px;
  }
  .require_list {
    font-size: 12px;
    padding-left: 33px;
  }
  .require_list li {
    font-size: 12px;
  }
  .require_descr {
    font-size: 12px;
  }
  .require_title {
    font-size: 19px;
  }
  .carchoice {
    position: relative;
    padding: 25px 0 0 0;
    margin-bottom: 0px;
    height: 390px;
  }
  .carchoice_label {
    width: 112px;
  }
  .carchoice_blue_half_circle_img {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: block;
    position: absolute;
    top: 84px;
    width: 228px;
    height: 114px;
    z-index: 1;
  }
  .carchoice_blue_half_circle_text {
    top: 50px;
    font-size: 13px;
  }
  .carchoice_blue_half_circle_subtext {
    font-size: 5px;
    top: 56px;
  }
  .carchoice_img_png {
    position: absolute;
    z-index: 2;
    width: 286px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -150px;
  }
  .carchoice_bottom_text {
    margin-top: 235px;
    color: white;
    font-size: 12px;
    padding: 0 38px;
  }
  .cityes {
    height: 360px;
    padding: 25px 0 30px 0;
  }
  .cityes_title {
    font-size: 16px;
    margin-top: 15px;
  }
  .cityes_subtitle {
    font-size: 14px;
    margin-top: 10px;
  }
  .cityes_all_cityes {
    margin-top: 186px;
  }
  .footer {
    padding: 25px 0px 20px 0px;
    height: 255px;
  }
  .blue_line {
    width: 253px;
    top: 25px;
  }
  .footer_list_menu {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    font-size: 14px;
    top: 48px;
  }
  .footer_list_menu li {
    margin: 5px 6px 5px 6px;
  }
  .icons_footer_left {
    top: 149px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin: 0;
  }
  .icons_footer_rigth {
    width: 100%;
    right: 0;
    top: 190px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    left: 0;
  }
  .icon_logo_rigth img {
    height: 24px;
  }
  .footer_list_submenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    font-size: 11px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-weight: 300;
  }
  .footer_list_submenu li {
    margin: 5px 10px 5px 10px;
  }
  .footer_lang {
    margin-top: 100px;
    font-size: 11px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */