*
    font-family: Roboto

nav
    display: flex
    height: 50px
    background: $primary-color

.nav_menu
    margin-top: 2px
    align-items: center
    display: flex
    justify-content: space-between
    margin-bottom: 0
    font-size: 30px
    &_item
        list-style: none
        color: #ffffff
.subheader
    height: 135px
    background: $primary-color
    opacity: 0.8
    display: flex
    align-items: center
    &_left
        display: flex
        align-items: center
        &_skype
            margin-left: 50px
        &_text
            font-size: 30px
            color: #ffffff

    &_right
        display: flex
        align-items: center
        &_whatsapp
            margin-left: 50px
        &_text
            font-size: 30px
            color: #ffffff