*
    font-family: Roboto

nav
    display: flex
    height: 50px
    background: $primary-color

.nav_menu
    margin-top: 2px
    align-items: center
    display: flex
    justify-content: space-between
    margin-bottom: 0
    font-size: 30px
    &_item
        list-style: none
        color: #ffffff